<%- include('partials/header') %>
    <h1>Contact</h1>
    <p><%= contactStarting %></p>

    <a href="https://www.facebook.com/cmittal8011/" target="blank"><i class="social-icon fab fa-facebook fa-7x" ></i></a>
    <a href="https://github.com/chiragmittal8011" target="blank"><i class="social-icon fab fa-github fa-7x"></i></a>
    <a href="https://www.linkedin.com/in/cmittal/" target="blank"><i class="social-icon fab fa-linkedin fa-7x"></i></a>
    <a href="https://twitter.com/ChiragmittalCm" target="blank"><i class="social-icon fab fa-twitter fa-7x"></i></a>
    <a href="https://www.instagram.com/chiragmittal_cm/" target="blank"><i class="social-icon fab fa-instagram fa-7x"></i></a>
    <a href="mailto:chirag.workid@gmail.com" target="blank"><i class="social-icon fas fa-envelope fa-7x"></i></a>
<%- include('partials/footer') %>